.banner {
	background-size: cover;
	background-position: center;
	background-clip: border-box;
	margin: 0;
	padding: auto;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.form {
	/* background-color: #fff; */
	width: 60%;
	max-width: 500px;
	margin: 0 auto;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #000;
}

.form-group {
	box-sizing: border-box;
	color: #000;

	margin-bottom: 10px;
	/* padding: 0 20px; */
	width: 100%;
	box-sizing: border-box;
}

.form-group > label {
	display: block;
	font-size: 13px;
	font-weight: bold;
	color: #fff;

	margin-bottom: 5px;
}

.form-group > input {
	width: 90%;
	padding: 10px;
	border: 1px solid #000;
	border-radius: 5px;
}

.form-group > textarea {
	width: 90%;
	padding: 10px;
	border: 1px solid #000;
	border-radius: 5px;
}

.form > button {
	width: 95%;
	padding: 10px;
	border: 1px solid #000;
	border-radius: 5px;
	background-color: yellow;
	color: #000;
	font-size: 15px;
	font-weight: bold;
	margin: 0 20px 0 0;
}

.form > button:hover {
	background-color: rgb(0, 102, 0);
	color: #fff;
	cursor: pointer;
}

@media screen and (max-width: 768px) {
	.banner {
		padding-top: 30%;
		justify-content: flex-start;
		align-items: flex-start;
	}
	.container {
		height: max-content;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		align-items: center;
		padding: 0 auto;
		row-gap: 60px;
	}
	.form {
		order: 1;
		width: 100%;
		margin: 0;
	}
}
